<a [routerLink]="['/addNewResponseCode']"><button>Add New</button></a>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>API Name</th>
            <th>Test Case</th>
            <th>Result</th>
            <th>Message</th>
            <th>Profile</th>
            <th>Profile Strategy</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of tableData | keyvalue">
            <td>
                <a [routerLink]="['/editResponseCode', item.key]"><button>Edit</button></a>
                <button (click)="delete(item.key)">Delete</button>
            </td>
            <td>{{ item.value.apiName }}</td>
            <td>{{ item.value.testCase }}</td>
            <td>{{ item.value.result }}</td>
            <td>{{ item.value.message }}</td>
            <td>{{ item.value.profile }}</td>
            <td>{{ item.value.profileStrategy }}</td>
        </tr>
    </tbody>
</table>