<div class="container">
    <form action="/action_page.php">
        <div class="row">
            <div class="col-25">
                <label for="apiname">API Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="apiname" name="api_name" placeholder="API name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="testcase">Test Case</label>
            </div>
            <div class="col-75">
                <input type="text" id="testcase" name="test_case" placeholder="Test Case">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="result">Result</label>
            </div>
            <div class="col-75">
                <select id="result" name="result">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="message">Message</label>
            </div>
            <div class="col-75">
                <input type="text" id="message" name="message" placeholder="Message">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="profile">Profile</label>
            </div>
            <div class="col-75">
                <select id="profile" name="profile" [(ngModel)]="show_profile_strategy">
                    <option [ngValue]="False">False</option>
                    <option [ngValue]="True">True</option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf="show_profile_strategy">
            <div class="col-25">
                <label for="profilestrategy">Profile Strategy</label>
            </div>
            <div class="col-75">
                <input type="text" id="profilestrategy" name="profilestrategy" placeholder="Profile Strategy">
            </div>
        </div>
        <br>
    </form>
</div>